body{
  background-color: black;
}

#Menu{

  height: 45px;
  background-color: #3ea1f8 ;
}

#logo{
  position: absolute;
  top: 0px;
  right: 10px;
  border-radius: 20px;
 

}
#titulo {
  color: white;
  text-align: center;
  font-family: Verdana;
  font-size: 20px;
  
  
}

#titulo_2 {
  color: white;
  text-align: center;
  font-family: Verdana;
  font-size: 20px;
  padding-top: 60px;
  
}

#simulacao{
  width: 1000px;
  height: 750px;
  margin-left: 140px;
}

#img2{
  padding-top: 2px;
  width: 100%;
  height: 300px;
}


#img-texto{
  align-content: center;
}

#principal1{
  width:600px;
  text-align: center;
  margin: 0;
  color: white;
  position: absolute;
  vertical-align: middle;
  top:95%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: Verdana;
  font-size: 20px;
  
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(25, 158, 219);
  border: 10px solid rgb(62, 161, 248);
  border-radius:20px;
  
  
}

#principal2{
  width:600px;
  text-align: center;
  margin: 0;
  color: white;
  position: absolute;
  top:120%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: Verdana;
  font-size: 20px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(25, 158, 219);
  border: 10px solid rgb(62, 161, 248);
  border-radius: 20px;
}

#principal3{
  width:600px;
  text-align: center;
  margin: 0;
  color: white;
  position: absolute;
  top:145%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: Verdana;
  font-size: 20px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(25, 158, 219);
  border: 10px solid rgb(62, 161, 248);
  border-radius: 20px;
  
}


#principal4{
  width:600px;
  text-align: center;
  margin: 0;
  color: white;
  position: absolute;
  top:170%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: Verdana;
  font-size: 20px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(25, 158, 219);
  border: 10px solid rgb(62, 161, 248);
  border-radius: 20px;
  margin-bottom: 150px;
}

#explicacao{
  padding-top: 20px;
  margin: 15px;
  width: 900px;
  height: 200px;
  font-display: Arial;
  text-align: left;
  font-size: 18px;
  padding-left: 90px;
}

#caixa-texto{
  border-radius: 20px;
  background-color: white;
  height: 1400px;
  width: 1100px;
  margin-left: 100px;
}

#caixa-texto_merge{
  border-radius: 20px;
  background-color: white;
  height: 1400px;
  width: 1100px;
  margin-left: 100px;
}

#caixa-texto_buble{
  border-radius: 20px;
  background-color: white;
  height: 750px;
  width: 1100px;
  margin-left: 100px;
}

#caixa-texto_insertion{
  border-radius: 20px;
  background-color: white;
  height: 450px;
  width: 1100px;
  margin-left: 100px;
}


#caixa-texto_quick{
  border-radius: 20px;
  background-color: white;
  height: 1400px;
  width: 1100px;
  margin-left: 100px;
}


#cabecalho{
  position: absolute;
  bottom: 5%;
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3ea1f8;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: Verdana;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: gray;
}

.active {
  background-color: gray;
}

#rodape{
  color:'white';
  
}

#imagem_quick_1{
  padding-top: 20px;
  margin-left: 100px;

}